:root {
  --primary-color: #5585b5;
  --secondary-color: #53a8b6;
  --tertiary-color: #79c2d0;
  --light-color: #bbe4e9;
  --white: #ffffff;
  --black: #000000;
  --brown: #6a523e;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  --purple: #894edc;
  --green: #48d46d;
  --gradient-bg: linear-gradient(135deg, #f5f7fa 0%, #e8f0f8 100%);
}

* {
  font-family: 'TikTok Sans', sans-serif;
}

body {
  background-color: var(--white);
}

.current-position {
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}

.marker {
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.422)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.702))
    brightness(1.1) contrast(1.1);
}

.leaflet-routing-container {
  padding: 1rem;
  position: fixed;
  bottom: 8%;
  left: 10%;
  right: 10%;
  animation: slideInBottom 0.3s ease-in-out;
}

.leaflet-routing-container::before {
  content: '';
  position: absolute;
  backdrop-filter: blur(15px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 0px 0px 10px -4px;
  border-radius: 10px;
}

.leaflet-routing-alt {
  display: flex;
  flex-direction: column;
}

.leaflet-routing-alt h3 {
  display: flex;
}

.leaflet-routing-alt table {
  display: none !important;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}
.form-container button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, var(--primary-color), var(--black));
  border-radius: 10px;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.form-container button:hover::before {
  width: 100%;
}
